.app__footer-card {
  min-width: 18rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  img {
    width: 40px;
    height: 40px;
  }

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}
