.about-wrapper {
  width: 40%;
}

.about-container {
  line-height: 1.5rem;
  a:hover {
    color: var(--color-primary);
  }
}

@media screen and (max-width: 800px) {
  .about-wrapper {
    width: 100%;
  }
}
